[Unit]
Description=Publish DHT11/DHT22 readings to MQTT broker
After=network.target

[Service]
Type=simple
Restart=on-failure
User=pi
ExecStart=/home/pi/dht-mqtt/run.sh

[Install]
WantedBy=multi-user.target